<!DOCTYPE html>
<html>
    <head>
        <title>
            Conditional and loops VUE
        </title>
    </head>

    <body>
        <div id="app">
            <!-- Vue conditional with one element-->
            <!-- use app.visible = false on console to turn invisible -->
            <span v-if="visible">Now i`m visible</span>
            <p></p>

            <!-- Vue conditional within a block of elements using template-->
            <template v-if="visible">
                <span>Some span: -That span guy above is strange ...<span><br/>
                <span>Another span: -yeah...</span><br/>
            </template>

        </div>

        <div id="app2">
            <!-- Vue array loop -->
            <ol>
                <li v-for="task in tasklist">
                    {{ task.text }} - {{ task.date }}
                </li>
            </ol>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var now = new Date().toLocaleString();

        var app = new Vue({
            el: '#app',
            data: {
                visible: true,
            }
        });

        var app2 = new Vue({
            el: '#app2',
            data: {
                tasklist: [
                    { text: 'Task 1', date: now },
                    { text: 'Task 2', date: now },
                    { text: 'Task 3', date: now }
                ]
            }
        })
    </script>
</html>